@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.paraText{
    /* font-size: 15px; */
    font-family: 'Inter', sans-serif;
    color: hsl(236, 13%, 42%);
    font-weight: 400;
}

.numberText{
    font-family: 'Inter', sans-serif;
    color: #C6C4C9;
    font-weight: 700;
}

.newText{
    font-family: 'Inter', sans-serif;
    color: hsl(35, 77%, 62%);
    font-weight: 700;
}

.drkBlue{
    font-family: 'Inter', sans-serif;
    color: hsl(240, 100%, 5%);
}

.offWhite{
    font-family: 'Inter', sans-serif;
    color: hsl(36, 100%, 99%);
    font-weight: 700;
}
.offWhite:hover{
    font-family: 'Inter', sans-serif;
    color: hsl(35, 77%, 62%);
    font-weight: 700;
}


#button1:hover{
    color: hsl(0, 0%, 100%);
    background-color: hsl(240, 100%, 5%);
}
#button1{
    color: hsl(0, 0%, 100%);
    background-color: hsl(5, 85%, 63%);
}

.FONT{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.textFont{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: hsl(240, 100%, 5%);
}
.textFont:hover{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: hsl(5, 85%, 63%);
}

.line-style{
    border: solid;
    color: hsl(236, 13%, 42%) !important;
    opacity: 1;
    border-width: 1px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.nav-link:hover{
    color: hsl(5, 85%, 63%)!important;
}
.readMore{
    font-family: 'Inter', sans-serif;
    font-weight:bolder;
    color: hsl(240, 100%, 5%);
    font-size:10px;
    letter-spacing: 3px;
}


.textMargin{
    margin-top: 0%;
    margin-bottom: 0%;
}

.futureHeader {
    line-height: 1.1em !important;
}